;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;            Passwords e afins             ;;
;; Copiar este arquivo para HOME do usuário ;;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

{:captcha-key "INSIRA_CHAVE_SECRETA_DO_CAPTCHA"}
